@page
@model DT191G_Moment_1._1.Pages.AboutModel
@{
	ViewData["Title"] = "Om sidan";
}

<div class="container mt-4">
	<h1 class="mb-4">Om sidan</h1>

	<!-- Information -->
	<div class="card shadow-sm p-3 mb-4">
		<p class="fs-5">
			Den här webbplatsen är en labb i kursen Webbutveckling med .NET där vi provar Razor-pages för tillfället. <br />
			Jag har valt att använda mig av Visual Studio i den här kursen.</p>

		<h2 class="fs-3 fw-bold">Om mig</h2>
		<p class="fs-5">Annelie heter jag och studerar just nu andra och sista året på Webbutvecklingsprogrammet (distans) på Mittuniversitetet. <br/>
			Jag är 36 år gammal och bor tillsammans med min sambo och vår dotter i Dalsjöfors, ett litet samhälle precis utanför Borås. Är utbildad arbetsterapeut i grunden, men kände efter 7 år att vården inte längre var något för mig och att jag behövde hitta något annat att göra. <br />
			Så här är jag nu... :)</p>
	</div>
</div>
