@page
@model IndexModel
@{
	ViewData["Title"] = "Startsida";
}

<div class="container mt-4">
	<h1 class="mb-4">Välkommen!</h1>

	<!-- Information -->
	<div class="card shadow-sm p-3 mb-4">
        <div class="card-body p-4">
            <h2 class="fs-3 fw-bold">Om katter</h2>
            <p class="fs-5">Här kommer lite information om katter:</p>

            <blockquote class="blockquote fst-italic border-start ps-3">
                "Katt (<strong>Felis catus</strong>), även känd som tamkatt, är ett relativt litet, smygjagande rovdjur i familjen kattdjur och ett vanligt sällskapsdjur i stora delar av världen.
                Falbkatten (<strong>Felis silvestris lybica</strong>), en underart till vildkatten (<strong>Felis silvestris</strong>), blev tidigt domesticerad av människan som nyttodjur för att hålla efter skadedjur eller för sällskap.
                Till havs har man sedan gammalt haft skeppskatter som skyddade mot gnagarangrepp på tåg och i proviantförråd.
                Katter kan dessutom vara underhållande för många människor med sin tillgivenhet och används även i terapeutiskt syfte vid psykisk ohälsa.
                Dock begränsas användningen av att vissa människor får allergireaktioner mot ämnen i kattens saliv, urin eller talgkörtlar.
                På många platser runt om i världen, speciellt på öar, utgör introducerade katter ett stort hot mot andra djur, exempelvis markhäckande fåglar."
            </blockquote>

            <p class="text-muted mt-3">
                <em>Källa: <a href="https://sv.wikipedia.org/wiki/Katt" class="link-primary text-decoration-none" target="_blank">Wikipedias sida om katter</a></em>
            </p>
        </div>
		</div>
</div>